.projects
  display: flex
  justify-content: space-between
  margin: 2.5em -.5em

  .segment
    padding: .4em
    margin: 0 .5em

  a
    display: block
    margin-bottom: -.5em

  .item
    img
      width: 100%
      border-radius: .3em

@media screen and (max-width: 600px)
  .projects
    flex-wrap: wrap

    .segment
      width: 44%
      margin: .5em .25em